/*home*/
.hero_video {
    width:100vw;
    height:80vh;
    position:relative;
    display:flex;
    justify-content:center;
    align-items:center;
}
.hero_video video {
    min-width:100vw;
    min-height:80vh;
    border:none;
    right:0;
    bottom:0;
    position:absolute;
    background-size:cover;
    background-position:center;
}
.hero_video h2 {
    width:74px;
    height:74px;
    background-color:rgba(234, 23, 140, 0.6);
    color:white;
    z-index:100;
    position:absolute;
    top:calc(40vh - 37px);
    left:calc(50vw - 37px);
    font-size:22px;
    line-height:78px;
    text-align:center;
}

/*careers_img
.careers_home {
    width:100vw;
    height:684.797px;
    background-image:url('../img/careers/HugeInc_Recruting.png');
    background-size:cover;
    background-position-x:50%;
    background-position-y:50%;
    display:block;
    position:relative;
}
.careers_home_wrap {
    width:100%;
}
    .careers_home_wrap h2 {
        width:74px;
        height:74px;
        background-color:rgba(234, 23, 140, 0.6);
        color:white;
        z-index:100;
        position:absolute;
        top:45vh;
        left:50vw;
        font-size:20px;
        line-height:74px;
        padding-left:30px;
    }
    */

/*our commitment*/
.our_commitment {
    width:100%;
    background-color:white;
    box-sizing:border-box;
}
.our_commitment_container {
    width:auto;
    padding:150px 12.7119%;
}
.our_commitment_content {
    width:100%;
    display:block;
}
    .our_commitment_title {
        width:100%;
        margin-bottom:20px;
        font-size:56px;
        line-height:1.25;
        letter-spacing:-4px;
    }
    .our_commitment_text {
        width:100%;
        margin-bottom:60px;
        font-size:18px;
        line-height:1.88889;
        letter-spacing:-0.27504px;
    }
.our_commitment_button {
    background-color:black;
    color:white;
    display:inline-block;
    font-family:HugeGothic-Bold;
    font-size:24px;
    font-weight:400;
    line-height:1.25;
    padding:30px 45px;
}
.our_commitment_button:hover {
    opacity:0.5;
}

/*Why Huge?*/
.why_huge {
    width:100%;
    background-color:white;
    padding:70px 0 140px 0;
    box-sizing:border-box;
}
.why_huge_container {
    width:74.68354%;
    margin:0 auto;
    display:flex;
}
.section_subtitle {
    width:32.20339%;
    margin:14px 0 50px 0;
    font-family:HugeGothic-Bold;
    font-size:22px;
    font-weight:400;
    line-height:0.72727;
    -webkit-font-smoothing:antialiased;
}
.section_subtitle_rule_black {
    width:47.36842%;
    margin-bottom:20px;
    margin-right:auto;
    border-top:1px solid black;
}
.why_huge_content {
    width:66.10169%;
    margin-left:1.69492%;
}
.why_huge_title {
    margin-bottom:70px;
    font-family:Galaxie;
    font-size:56px;
    line-height:1.25;
    letter-spacing:-4px;
}
.why_huge_text_1 {
    padding-bottom:25px;
    font-size:18px;
    letter-spacing:-0.27504px;
    line-height:34px;
}
.why_huge_text_2 {
    padding:25px 0;
    font-size:18px;
    letter-spacing:-0.27504px;
    line-height:34px;
}

/*5 ways*/
.ways {
    width:100%;
    background-color:black;
    padding:200px 0;
    box-sizing:border-box;
}
.ways_container {
    width:74.68354%;
    margin:0 auto;
    display:flex;
}
.section_subtitle_nopadding {
    width: 32.20339%;
    margin-bottom:50px;
    font-family: HugeGothic-Bold;
    font-size: 22px;
    color: white;
    line-height:0.72727;
}
.section_subtitle_rule_white {
    width: 47.36842%;
    margin-bottom: 20px;
    margin-right:auto;
    border-top:1px solid white;
}
.ways_content {
    width: 66.10169%;
    margin-left: 1.69492%;
}
.ways_content li {
    width:100%;
    display:flex;
    justify-content:space-between;
    margin-bottom:80px;
}
.ways_content_left {
    width:87.17949%;
}
    .ways_content_left h2 {
        margin-bottom:10px;
        box-sizing:border-box;
        font-family:HugeGothic-Bold;
        font-weight:400;
        font-size:80px;
        line-height:1.05;
        letter-spacing:-2px;
    }
    .ways_content_left p {
        font-family:Galaxie;
        font-size:18px;
        line-height:1.88889;
        letter-spacing:-0.27504px;
    } 
.ways_content_right {
    width:9.60938px;
    font-family:Galaxie;
    font-size:18px;
    line-height:1.88889;
    letter-spacing:-0.27504px;
}

/*magenta*/
.work_05 {
    width:100vw;
    background-image:url('../img/career/Balancing_Careers_in_Art_and_Design_.jpg');
    background-size:cover;
    background-position:center;
    position:relative;
}
.work_05_screen {
    background-color:rgba(0,0,0,0.7);
    padding:200px 0;
}
.work_05_wrap {
    width:100%;
    display:flex;
    justify-content:flex-start;
}
.work_05_left {
    width:18.98734%;
    float:left;
    display: inline-table;
    background-image:url('../img/career/magenta-hero.gif');
    background-size:cover;
    margin-left:12.65823%;
    margin-right:1.25%;
    padding-bottom:18.98734%;
}
.work_05_right {
    width:43.03797%;
    margin-left:5.06329%;
    margin-right:1.26582%;
    display:flex;
    flex-direction:column;
    justify-content:center;
    color:white;
}
    .work_05_right h2 {
        font-size:80px;
        line-height:1.05;
        letter-spacing:-2px;
    }
    .work_05_right p {
        font-family:Galaxie;
        font-size:18px;
        line-height:1.88889;
        letter-spacing:-0.27504px;
    }

@media screen and (max-width:999px) {
    /*home*/
    .hero_video {
        width:100vw;
        height:80vh;
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .hero_video video {
        min-width:100vw;
        min-height:80vh;
        border:none;
        right:0;
        bottom:0;
        position:absolute;
        background-size:cover;
        background-position:center;
    }

    /*our commitment*/
    .our_commitment_container {
        padding:80px 16.94915%;
    }
    .our_commitment_title {
        font-size:42px;
        line-height:1.28571;
        letter-spacing:-1px;
    }
    .our_commitment_text {
        font-size:18px;
        line-height:1.88889;
        letter-spacing:-0.27504px;
    }
    .our_commitment_button {
        font-size:21px;
        line-height:1.33333;
    }

    /*Why Huge?*/
    .why_huge {
        padding:0;
    }
    .why_huge_container {
        width:83.05085%;
        margin:0 auto;
        padding:70px 0 100px 0;
        flex-direction:column;
    }
    .section_subtitle {
        width:48.97959%;
        margin-bottom:50px;
        font-size:16px;
        line-height:1;
    }
    .section_subtitle_rule_black {
        width:37.5%;
        margin-right:auto;
    }
    .why_huge_content {
        width:100%;
        margin-left:0;
    }
    .why_huge_title {
        font-size:42px;
        line-height:1.28571;
        letter-spacing:-1px;
    }
    .why_huge_text_1 {
        font-size:18px;
        letter-spacing:-0.27504px;
        line-height:34px;
    }
    .why_huge_text_2 {
        font-size:18px;
        letter-spacing:-0.27504px;
        line-height:34px;
    }

    /*5 ways*/
    .section_subtitle_nopadding {
        width:23.72881%;
        font-size: 16px;
        line-height: 1;
    }
    .section_subtitle_rule_white {
        width:37.5%;
        margin-right:auto;
    }
    .ways_content {
       margin-left:5.08475%;
    }
    .ways_content_left h2 {
        font-size:72px;
        line-height:1.04167;
        letter-spacing:-2px;
    }
    .ways_content_left p {
        font-size:18px;
        line-height:1.88889;
        letter-spacing:-0.27504px;
    } 
    .ways_content_right {
        font-size:18px;
        line-height:1.88889;
        letter-spacing:-0.27504px;
    }

    /*magenta*/
    .work_05_screen {
        padding:160px 0;
    }
    .work_05_left {
        width:25.42373%;
        margin-left:16.94915%;
        margin-right:1.66667%;
        padding-bottom:25.42373%;
    }
    .work_05_right {
        width:40.67797%;
        margin-right:1.69492%;
        margin-left:6.77966%;
    }
        .work_05_right h2 {
            font-size:72px;
            line-height:1.04167;
            letter-spacing:-2px;
        }
        .work_05_right p {
            font-size:18px;
            line-height:1.88889;
            letter-spacing:-0.27504px;
        }
}

@media screen and (max-width:767px) {
    /*home*/
    .hero_video {
        width:100vw;
        height:70vh;
        position:relative;
        display:flex;
        justify-content:center;
        align-items:center;
    }
    .hero_video video {
        min-width:100vw;
        min-height:70vh;
        border:none;
        right:0;
        bottom:0;
        position:absolute;
        background-size:cover;
        background-position:center;
    }
    .hero_video h2 {
        width:60px;
        height:60px;
        top:calc(35vh - 30px);
        left:calc(50vw - 30px);
        font-size:22px;
        line-height:64px;
    }

    /*our commitment*/
    .our_commitment_container {
        width:74.35897%;
        padding:80px 0;
        margin:0 auto;
    }
    .our_commitment_content {
        width:100%;
        display:block;
    }
        .our_commitment_title {
            font-size:30px;
            line-height:1.4;
            letter-spacing:-1px;
        }
    .our_commitment_button {
        font-size:19px;
        line-height:1.36842;
    }

    /*Why Huge?*/
    .why_huge {
        padding:70px 0 60px 0;
    }
    .why_huge_container {
        width:74.35897%;
    }
    .section_subtitle {
        width:82.75862%;
        margin:0 0 50px 0;
        font-size:14px;
        line-height:1.42857;
    }
    .section_subtitle_rule_black {
        width:37.5%;
        margin-right:auto;
    }
    .why_huge_content {
        width:100%;
        margin-left:0;
    }
    .why_huge_title {
        font-size:30px;
        line-height:1.4;
        letter-spacing:-1px;
    }

    /*5 ways*/
    .ways {
        padding:80px 0;
    }
    .ways_container {
        width:74.35897%;
        flex-direction:column;
    }
    .section_subtitle_nopadding {
        width:82.75862%;
        font-size:14px;
        line-height:1.42857;
    }
    .section_subtitle_rule_white {
        width:37.5%;
    }
    .ways_content {
        width:100%;
        margin-left:0;
    }
    .ways_content li {
        width:100%;
        display:flex;
        justify-content:space-between;
        margin-bottom:80px;
    }
    .ways_content_left {
        width:100%;
    }
        .ways_content_left h2 {
            font-size:40px;
            line-height:1.1;
            letter-spacing:-1px;
        }
    .ways_content_right {
        display:none;
    }

    /*magenta*/
    .work_05_screen {
        padding:80px 0;
    }
    .work_05_wrap {
        display:flex;
        flex-direction: column;
    }
    .work_05_left {
        width:35.89744%;
        margin-left:12.82051%;
        margin-right:2.5641%;
        padding-bottom:35.89744%;
    }
    .work_05_right {
        width:74.35897%;
        margin-right:2.5641%;
        margin-left:12.82051%;
        margin-top:50px;
    }
        .work_05_right h2 {
            font-size:40px;
            line-height:1.1;
            letter-spacing:-1px;
        }
        .work_05_right p {
            font-size:18px;
            line-height:1.88889;
            letter-spacing:-0.27504px;
        }
}