/*font*/
@font-face {
    font-family: Galaxie;
    src: url(../font/GalaxieCopernicus-Book.woff);
}

@font-face {
    font-family: HugeGothic-Bold;
    src: url(../font/HugeGothic-Bold.woff);
}

/*text*/
h1 {
    font-family: HugeGothic-Bold;
    font-size: 300px;
    color: black;
    font-weight: 600;
}
p {
    font-family: Galaxie-Book;
    font-size: 14px;
    color: black;
    font-weight: 100;
}

.width_100vw {
    width: 100%;
}
.margin_auto {
    margin: 0 auto;
}
.text_align_center {
    text-align: center;
}
.margin_top_36 {
    margin-top: 36px;
}
.margin_top_48 {
    margin-top: 48px;
}
.margin_top_60 {
    margin-top: 60px;
}
.margin_top_72 {
    margin-top: 72px;
}
.margin_top_96 {
    margin-top: 96px;
}


/*content*/
main {width:100%; transition:padding 0.6s;}

/*home_hello*/
.home_section {
    width: 100%;
    height: 100vh;
    position:relative;
}
.home_section_wrap {
    width:100%;
    height:100vh;
    display:flex;
    justify-content:center;
    align-items:center;
}

.home_section_hello {
    width:800px;
    height:300px;
    font-family:HugeGothic-Bold;
    font-size:300px;
    font-weight:600;
    text-align:center;
    line-height:300px;
    padding-left:20px;
}
.home_section_hi {
    width: 800px;
    height: 300px;
    font-family: HugeGothic-Bold;
    font-size: 300px;
    font-weight: 600;
    text-align: center;
    line-height:300px;
    display:none;
}
.home_section_bottom {
    width:100%;
    position:absolute;
    bottom:0;
    display:flex;
    justify-content:center;
    align-items:center;
    flex-direction:column;
}
.home_section_bottom_text {
    height:40px;
    font-family:Galaxie;
    text-align:center;
}
.home_section_bottom_line {
    border-left:1px solid black;
    width:1px;
    height:50px;
}

/*content_white text*/
#home_01, #home_02, #home_03, #home_04, #home_05, #home_06, #home_07 {
    width: 100%;
    height: 100vh;
    align-items:center;
    display:flex;
    flex-direction:column;
}
.home_01_img {
    width: 100%;
    height: 100vh;
    display:block;
    background-image: url('../img/index/hugeinc.png');
    background-size: cover;
    background-position:center;
    position:absolute;
    z-index:0;
}
.home_01_index {
    width:91.52542%;
    line-height:0.72727;
    margin:0 auto;
    margin-top:20vh;
    box-sizing:border-box;
    display:flex;
    z-index:1;
}
    .home_01_index p {
        font-family:HugeGothic-Bold;
        font-size:22px;
        font-weight:100;
        line-height:22px;
        color:white;
        letter-spacing:1px;
    }
    .home_01_index div {
        border-bottom:1px solid white;
        width:6.77966%;
        max-width:6.02564%;
        height:11px;
        margin-left:0.72464%;
    }
.home_01_content { 
    width:74.68354%;
    min-height:100%;
    padding:20vh 0;
    margin:0 auto;
    box-sizing:border-box;
    display:block;
    flex-direction:row;
    z-index:1;
}
.home_01_content_wrap {
    width:45%;
}
    .home_01_content_wrap_title {
        font-family:HugeGothic-Bold;
        font-size:22px;
        font-weight:100;
        color:white;
        line-height:0.72727;
        letter-spacing:normal;
        margin-top:3px;
    }
.home_01_content_subwrap {
    height:60vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
    .home_01_content_subwrap h2 {
        font-family:HugeGothic-Bold;
        font-size:80px;
        font-weight:100;
        color:white;
        letter-spacing:-2px;
        line-height:84px;
        margin:20px 0 30px 0;
    }
    .home_01_content_subwrap_sub {
        width:83%;
    }
        .home_01_content_subwrap_sub div {
            border-top:1px solid white;
            width:21.05263%;
            opacity:0.8;
            margin-right:auto;
            margin-bottom:40px;
        }
        .home_01_content_subwrap_sub p {
            font-family:Galaxie;
            font-size:18px;
            letter-spacing:-0.27504px;
            line-height:34px;
            color:white;
        }

/*content_black text*/
.home_02_index {
    width:91.52542%;
    line-height:0.72727;
    margin:0 auto;
    margin-top:20vh;
    box-sizing:border-box;
    display:flex;
    z-index:1;
}
    .home_02_index p {
        font-family:HugeGothic-Bold;
        font-size:22px;
        font-weight:100;
        line-height:22px;
        color:black;
        letter-spacing:1px;
    }
    .home_02_index div {
        border-bottom:1px solid black;
        width:6.77966%;
        max-width:6.02564%;
        height:11px;
        margin-left:0.72464%;
    }
.home_02_content_wrap {
    width: 45%;
}
    .home_02_content_wrap div:first-child {
        font-family:HugeGothic-Bold;
        font-size:22px;
        font-weight:100;
        color:black;
        line-height:0.72727;
        letter-spacing:normal;
        margin-top:3px;
    }
.home_02_content_subwrap {
    height:60vh;
    display:flex;
    flex-direction:column;
    justify-content:center;
}
    .home_02_content_subwrap h2 {
        font-family:HugeGothic-Bold;
        font-size:80px;
        font-weight:100;
        color:black;
        letter-spacing:-2px;
        line-height:84px;
        margin:20px 0 30px 0;
    }
    .home_02_content_subwrap_sub {
        width:83%;
    }
        .home_02_content_subwrap_sub div {
            border-top:1px solid black;
            width:21.05263%;
            opacity:0.8;
            margin-right:auto;
            margin-bottom:40px;
        }
        .home_02_content_subwrap_sub p {
            font-family:Galaxie;
            font-size:18px;
            letter-spacing:-0.27504px;
            line-height:34px;
            color:black;
        }

.home_02_img {
    width: 100%;
    height: 100vh;
    display:block;
    background-image: url('../img/index/hugeinc16.png');
    background-size: cover;
    background-position:center;
    position:absolute;
    z-index:0;
}
.home_03_img {
    width: 100%;
    height: 100vh;
    display:block;
    background-image: url('../img/index/hugeinc10.png');
    background-size: cover;
    background-position:center;
    position:absolute;
    z-index:0;
}
.home_04_img {
    width: 100%;
    height: 100vh;
    display:block;
    background-image: url('../img/index/hugeinc12.png');
    background-size: cover;
    background-position:center;
    position:absolute;
    z-index:0;
}
.home_05_img {
    width: 100%;
    height: 100vh;
    display:block;
    background-image: url('../img/index/hugeinc2.jpg');
    background-size: cover;
    background-position:center;
    position:absolute;
    z-index:0;
}
.home_06_img {
    width: 100%;
    height: 100vh;
    display:block;
    background-image: url('../img/index/hugeinc3.jpg');
    background-size: cover;
    background-position:center;
    position:absolute;
    z-index:0;
}
.home_07_img {
    width: 100%;
    height: 100vh;
    display:block;
    background-image: url('../img/index/hugeinc1.jpg');
    background-size: cover;
    background-position:center;
    position:absolute;
    z-index:0;
}

@media screen and (max-width:999px) {
    .home_01_index {
        line-height:1;
    }
        .home_01_index p {
            font-size:16px;
            line-height:16px;
            letter-spacing:normal;
        }
        .home_01_index div {
            max-width:3.33333%;
            height:8px;
            margin-left:1.44928%;
        }
    .home_01_content_wrap {
        width:40vw;
    }
        .home_01_content_wrap_title {
            font-size:16px;
            line-height:1;
        }
    .home_01_content_subwrap h2 {
        font-size:72px;
        line-height:1.04167;
    }
    .home_02_index {
        line-height:1;
    }
        .home_02_index p {
            font-size:16px;
            line-height:16px;
            letter-spacing:normal;
        }
        .home_02_index div {
            max-width:3.33333%;
            height:8px;
            margin-left:1.44928%;
        }
    .home_02_content_wrap {
        width:40vw;
    }
        .home_02_content_wrap div:first-child {
            font-size:16px;
            line-height:1;
        }
    .home_02_content_subwrap h2 {
        font-size:72px;
        line-height:1.04167;
    }
}

@media screen and (max-width:767px) {
    #home_01, #home_02, #home_03, #home_04, #home_05, #home_06, #home_07 {
        padding-top:20px;
    }
    .home_01_img {
        width: 100%;
        height: 100vh;
        background-image: url('../img/index/hugeinc4.jpg');
        background-size: cover;
    }
    .home_02_img {
        width:100%;
        height:100vh;
        background-image:url('../img/index/hugeinc11.png');
        background-size:cover;
    }
    .home_03_img {
        width:100%;
        height:100vh;
        background-image:url('../img/index/hugeinc6.jpg');
        background-size:cover;
    }
    .home_04_img {
        width:100%;
        height:100vh;
        background-image:url('../img/index/hugeinc14png.png');
        background-size:cover;
    }
    .home_05_img {
        width:100%;
        height:100vh;
        background-image:url('../img/index/hugeinc7.jpg');
        background-size:cover;
    }
    .home_06_img {
        width:100%;
        height:100vh;
        background-image:url('../img/index/hugeinc8.jpg');
        background-size:cover;
    }
    .home_07_img {
        width:100%;
        height:100vh;
        background-image:url('../img/index/hugeinc5.jpg');
        background-size:cover;
    }

    /*content*/
    .home_section_hello {
        width: 800px;
        height: 300px;
        font-family: HugeGothic-Bold;
        font-size: 300px;
        font-weight: 600;
        text-align: center;
        display:none;
    }
    .home_section_hi {
        width: 300px;
        height: 200px;
        font-size: 200px;
        display:block;
    }
    .home_section_bottom {
        height:72px;
    }

    /*content_white text*/
    .home_01_index {
        width:83.97436%;
        line-height:1.42857;
        margin-top:15vh;
    }
        .home_01_index p {
            font-size:14px;
            line-height:1.42857;
            letter-spacing:normal;
        }
        .home_01_index div {
            width:15.25424%;
            max-width:10.25641%;
            height:7px;
            margin-left:1.44928%;
        }
    .home_01_content { 
        width:87.34177%;
        padding:15vh 0 5vh 0;
        flex-direction:column;
    }
    .home_01_content_wrap {
        width:100%;
        padding-left:5px;
        z-index:3;
    }
        .home_01_content_wrap_title {
            font-size:14px;
            line-height:1.42857;
            margin-top:0;
            margin-left:20.68966%;
        }
    .home_01_content_subwrap {
        height:auto;
        display:block;
        justify-content:flex-start;
    }
        .home_01_content_subwrap h2 {
            width:83%;
            font-size:40px;
            letter-spacing:-1px;
            line-height:1.1;
            margin:3vh 0 10px 0;
        }
    .home_01_content_subwrap_sub {
        width:85%;
    }
        .home_01_content_subwrap_sub div {
            margin-bottom:10px;
        }

    /*content_black text*/
    .home_02_index {
        width:83.97436%;
        line-height:1.42857;
        margin-top:15vh;
    }
        .home_02_index p {
            font-size:14px;
            line-height:1.42857;
            letter-spacing:normal;
        }
        .home_02_index div {
            width:15.25424%;
            max-width:10.25641%;
            height:7px;
            margin-left:1.44928%;
        }
    .home_02_content_wrap {
        width:100%;
        padding-left:5px;
        z-index:3;
    }
        .home_02_content_wrap_title {
            font-size:14px;
            line-height:1.42857;
            margin-top:0;
            margin-left:20.68966%;
        }
    .home_02_content_subwrap {
        height:auto;
        display:block;
        justify-content:flex-start;
    }
        .home_02_content_subwrap h2 {
            width:83%;
            font-size:40px;
            letter-spacing:-1px;
            line-height:1.1;
            margin:3vh 0 10px 0;
        }
        .home_02_content_subwrap_sub {
            width:85%;
        }
            .home_02_content_subwrap_sub div {
                margin-bottom:10px;
            }
}